body {
    font-family: 'Lato', sans-serif;
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url('2sprint4.jpg');
    height: 400px;
    width: 400px;
    background-size: cover;
    color: #fff;
    border-style: solid;
    border-color: rgb(8, 21, 77);
    border-width: 10px;
    align-items: center;
}

#hero h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 1rem;
    font-weight: 400;
}

.content {
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    font-weight: 400;
    text-transform: uppercase;
}

.content button {
    font-size: 2rem;
    color: #fff;
    background-color: #1f375e;
    border: none;
    padding: .5rem 2rem;
    cursor: pointer;
    transition: all .3s ease;
}

.content button:hover {
    background-color: #08347a;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}